<div class="info-transfer">
  <div class="info-transfer__description">
    Indique alias o los cuatro últimos dígitos de la Cuenta desde la cual
    realizará la transferencia:
  </div>
  <div class="info-transfer__suggestion">Cuenta terminada en 1234</div>
  <div class="info-transfer__account">
    <div class="info-transfer__account__info">
      <div class="info-transfer__account__info__bold-info">
        Cuenta de Ahorros
      </div>
      <div class="info-transfer__account__info__secondary">
        1234 5678 7865 1234
      </div>
    </div>
    <div class="info-transfer__account__info">
      <div class="info-transfer__account__info__bold-info">$999.999.999,00</div>
      <div class="info-transfer__account__info__secondary-right">
        Saldo disponible
      </div>
    </div>
    <img
      class="info-transfer__account__arrow"
      src="../../../assets/imgs/next-arrow.svg"
    />
  </div>
  <div class="info-transfer__line"></div>
  <div class="info-transfer__account">
    <div class="info-transfer__account__info">
      <div class="info-transfer__account__info__bold-info">
        Cuenta Corriente
      </div>
      <div class="info-transfer__account__info__secondary">
        3456 7890 2233 4567
      </div>
    </div>
    <div class="info-transfer__account__info">
      <div class="info-transfer__account__info__bold-info">$999.999.999,00</div>
      <div class="info-transfer__account__info__secondary-right">
        Saldo disponible
      </div>
    </div>
    <img
      class="info-transfer__account__arrow"
      src="../../../assets/imgs/next-arrow.svg"
    />
  </div>
  <div class="info-transfer__voice">
    “Quiero hacer la transferencia desde mi
  </div>
  <div class="info-transfer__voice-bold">
    Cuenta de Ahorros terminada en 1234”
  </div>
</div>
