<div class="transfer">
  <div class="transfer__title">Hola Cristian,</div>

  <div class="transfer__description">
    Por lo general usted realiza transferencias a los siguientes destinos
    DaviPlata:
  </div>
  <div class="transfer__elements">
    <div class="transfer__elements__element">
      <div class="transfer__elements__element__info">
        <div class="transfer__elements__element__info__name">Mamá</div>
        <div class="transfer__elements__element__info__phone">3201234567</div>
      </div>
      <img
        class="transfer__elements__element__arrow"
        src="../../../assets/imgs/next-arrow.svg"
      />
    </div>
    <div class="transfer__elements__line"></div>
    <div class="transfer__elements__element">
      <div class="transfer__elements__element__info">
        <div class="transfer__elements__element__info__name">Arriendo</div>
        <div class="transfer__elements__element__info__phone">3201234567</div>
      </div>
      <img
        class="transfer__elements__element__arrow"
        src="../../../assets/imgs/next-arrow.svg"
      />
    </div>
    <div class="transfer__elements__line"></div>
    <div class="transfer__elements__element">
      <div class="transfer__elements__element__info">
        <div class="transfer__elements__element__info__name">Oficina</div>
        <div class="transfer__elements__element__info__phone">3201234567</div>
      </div>
      <img
        class="transfer__elements__element__arrow"
        src="../../../assets/imgs/next-arrow.svg"
      />
    </div>
  </div>
  <div class="transfer__description">
    Si desea transferir a algunos de estos destino diga el destino o nueva
    transferencia:
  </div>
  <div class="transfer__suggestion">Transferir a mamá</div>
  <div class="transfer__suggestion">Transferir a otro Daviplata</div>
  <div class="transfer__voice">"Transferir a mamá"</div>
</div>
