.transfer {
  padding: 0 24px;

  &__title {
    font-size: 14px;
    color: #404040;
    font-weight: 600;
    margin-bottom: 11px;
  }
  &__elements {
    display: flex;
    color: #404040;
    flex-direction: column;
    &__element {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      padding-bottom: 7px;
      &__info {
        display: flex;
        flex-direction: column;
        &__name {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 2px;
        }
        &__phone {
          font-size: 12px;
        }
      }
      &__arrow {
        width: 8px;
        height: 14px;
        display: flex;
        align-self: center;
        margin-right: 8px;
      }
    }
    &__line {
      border-bottom: 1px solid #d9d9d9;
    }
  }
  &__description {
    font-size: 14px;
    color: #404040;
    text-align: left;
    margin-top: 1px;
  }
  &__suggestion {
    font-size: 14px;
    color: #404040;
    margin-top: 20px;
    font-weight: 600;
  }
  &__voice {
    margin-top: 32px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
}
