<div class="success-transfer">
  <div class="success-transfer__description">
    <span class="success-transfer__description__label">
      Para continuar su transacción diga
    </span>
    <span class="success-transfer__description__description-bold"
      >Transferir,
    </span>
    <span class="success-transfer__description__label">
      de lo contrario indique el campo que desea modificar:
    </span>
  </div>

  <div class="success-transfer__title">Modificar destino</div>
  <div class="success-transfer__voucher-component">
    <div class="success-transfer__voucher-component__info" *ngIf="finalized">
      <div class="success-transfer__voucher-component__info__number-info">
        <div
          class="success-transfer__voucher-component__info__number-info__label"
        >
          Número de comprobante
        </div>
        <div
          class="success-transfer__voucher-component__info__number-info__number"
        >
          304003
        </div>
      </div>
      <div class="success-transfer__voucher-component__info__number-info">
        <div
          class="success-transfer__voucher-component__info__number-info__date"
        >
          Día: 10/12/2020
        </div>
        <div
          class="success-transfer__voucher-component__info__number-info__date"
        >
          Hora: 4:00 p.m.
        </div>
      </div>
    </div>
    <div class="success-transfer__voucher-component__senders">
      <div class="horizontal">
        <div class="success-transfer__voucher-component__senders__sender-info">
          <div
            class="success-transfer__voucher-component__senders__sender-info__label"
          >
            Origen
          </div>
          <div
            class="success-transfer__voucher-component__senders__sender-info__bold"
          >
            Cuenta de Ahorros
          </div>
          <div
            class="success-transfer__voucher-component__senders__sender-info__number"
          >
            6216 9618 9213 1234
          </div>
        </div>
        <img
          class="success-transfer__voucher-component__senders__arrow"
          src="../../../assets/imgs/red-arrow.svg"
        />
      </div>

      <div
        class="success-transfer__voucher-component__senders__sender-info align-right"
      >
        <div
          class="success-transfer__voucher-component__senders__sender-info__label"
        >
          Destino
        </div>
        <div
          class="success-transfer__voucher-component__senders__sender-info__bold"
        >
          Mamá
        </div>
        <div
          class="success-transfer__voucher-component__senders__sender-info__number"
        >
          320 222 9988
        </div>
      </div>
    </div>
    <div class="success-transfer__voucher-component__amount">
      <div class="success-transfer__voucher-component__amount__label">
        Valor
      </div>
      <div class="success-transfer__voucher-component__amount__number">
        $100.000,00
      </div>
      <div class="success-transfer__voucher-component__amount__line"></div>
      <div class="success-transfer__voucher-component__amount__cost">
        <div class="success-transfer__voucher-component__amount__cost__label">
          Costo de la transacción:
        </div>
        <div class="success-transfer__voucher-component__amount__cost__number">
          $ 0
        </div>
      </div>
    </div>
  </div>
</div>
